<h1 mat-dialog-title>Crate a Schedule</h1>
<div mat-dialog-content>
  <p>Here you can create a new schedule</p>

  <h1><strong class="text-black">Date:</strong> {{ data.date }}</h1>
  <h1><strong class="text-black">Time start:</strong> {{ data.time.start }}</h1>
  <h1><strong class="text-black">Time end:</strong> {{ data.time.end }}</h1>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button cdkFocusInitial (click)="onYesClick()">Create</button>
</div>
