<app-view-nav></app-view-nav>

<table class="ml-4 border-2 border-purple-800 border-solid">
  <tr>
    <th class="w-16 h-16"></th>
    <th
      class="border-b-2 border-r-2 border-purple-800 border-solid"
      *ngFor="let day of tabs"
    >
      {{ day }}
    </th>
  </tr>
  <tr *ngFor="let time of times">
    <td class="border-r-2 border-purple-800 border-solid">
      <div class="flex flex-col justify-center text-center">
        <div>
          <h1>{{ time.hour }}</h1>
        </div>
        <div>
          <p>{{ time.minute }}</p>
        </div>
      </div>
    </td>
    <td
      class="border-b-[1px] border-purple-800 border-solid border-r-[1px] bg-green-300 col-span-2"
      *ngFor="let day of tabs"
    >
      <div class="flex flex-col w-full h-full hover:cursor-pointer">
        <div
          *ngIf="
            isBookingData(day, time.hour);
            then alreadyBookedHour;
            else bookingHour
          "
        ></div>

        <div
          *ngIf="
            isBookingData(day, time.minute);
            then alreadyBookedMinute;
            else bookingMinute
          "
        ></div>

        <ng-template #alreadyBookedHour>
          <div class="relative w-full h-full hover:bg-gray-400">
            <ng-component
              *ngIf="
                firstCell(day, time.hour);
                then button_hour;
                else normalTime_hour
              "
            ></ng-component>

            <ng-template #button_hour>
              <div class="bg-blue-800">BUTTON</div>
            </ng-template>

            <ng-template #normalTime_hour>
              <div class="bg-blue-800">
                {{ time.hour }}
              </div>
            </ng-template>
          </div>
        </ng-template>

        <ng-template #alreadyBookedMinute>
          <div class="relative w-full h-full hover:bg-gray-400">
            <ng-component
              *ngIf="firstCell(day, time.minute); then button; else normalTime"
            ></ng-component>

            <ng-template #button>
              <div class="bg-blue-800">BUTTON</div>
            </ng-template>

            <ng-template #normalTime>
              <div class="bg-blue-800">
                {{ time.minute }}
              </div>
            </ng-template>
          </div>
        </ng-template>

        <ng-template #bookingHour>
          <div
            class="relative w-full h-full hover:bg-gray-400"
            [ngClass]="getCellClass(day, time.hour)"
            (click)="!cleanButton && onCellClick(day, time.hour)"
          >
            <div (mouseenter)="isHoverEnable && hovering()">
              {{ time.hour }}
            </div>
            <div class="w-full h-full" *ngIf="isLastCell(day, time.hour)">
              <div
                class="absolute bf- w-full z-[100] top-0 right-[-86px] flex gap-1 bg-purple-700 hover:bg-blue-700"
              >
                <button class="w-full bg-red-600 rounded-lg" (click)="clean()">
                  X
                </button>
                <button
                  class="w-full bg-green-600 rounded-lg"
                  (click)="onDayClick(day)"
                >
                  OK
                </button>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #bookingMinute>
          <div
            class="relative w-full h-full hover:bg-gray-400"
            [ngClass]="getCellClass(day, time.minute)"
            (click)="!cleanButton && onCellClick(day, time.minute)"
          >
            <div (mouseenter)="isHoverEnable && hovering()">
              {{ time.minute }}
            </div>
            <div class="w-full h-full" *ngIf="isLastCell(day, time.minute)">
              <div
                class="absolute bf- w-full z-[100] top-0 right-[-86px] flex gap-1 bg-purple-700 hover:bg-blue-700"
              >
                <button class="w-full bg-red-600 rounded-lg" (click)="clean()">
                  X
                </button>
                <button
                  class="w-full bg-green-600 rounded-lg"
                  (click)="onDayClick(day)"
                >
                  OK
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </div>

      <!-- <ng-container *ngIf="mockUsers">
        <div *ngIf="isBooked(day, time.hour); then found; else empty"></div>

        <ng-template #found>
          <div
            class="w-full h-[3rem] bg-green-200"
            (click)="onDayClick({ day, time:time.hour })"
          >
            {{ getBookingClient(day, time.hour) }}
          </div>
        </ng-template>

        <ng-template #empty>
          <div
            class="relative w-full h-[3rem] bg-purple-200 hover:bg-green-400 cursor-pointer"
            (click)="onEmptyClick(day, time.hour)"
            [ngClass]="{ 'bg-blue-200': isCellClicked(day, time.hour) }"
          >
            <div
              *ngIf="isCellClicked(day, time.hour)"
              class="absolute inset-0 flex items-center justify-center"
            >
              <button
                class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-700"
              >
                x
              </button>
            </div>
          </div>
        </ng-template>
      </ng-container> -->
    </td>
  </tr>
</table>
